.comic-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 2px 15px -1px white;
  margin-bottom: 5px;
}

.comic-item img {
  width: 100%;
  border-radius: 10px;
}

.comic-item p {
  display: none;
}

.comic-item h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
}

.favorite-comic {
  display: none;
}

#red-heart {
  color: red;
}
