.comic-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  /* height: 200px; */
  border: 1px solid black;
}

.comic-item img {
  width: 100%;
}
