.character-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  /* height: 200px; */
  border: 1px solid white;
}

.character-item img {
  width: 100%;
}

.character-item p {
  display: none;
}

.character-item h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
}

.favorite-character {
  display: none;
}

#red-heart {
  color: red;
}
