.comics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.comicsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.comics-section select {
  height: 28px;
}

@media (max-width: 950px) {
  .comicsList {
    justify-content: center;
  }
}
